.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .App-footer {
  background-color: rgb(31, 80, 26);
  color: white;
}

.App-header {
  height: 100px;
  padding: 20px;
}

.App-navbar {
  background-color: rgba(31, 80, 26, 0.8);
  height: 20px;
}

.App-body {
  flex: 1;
}

.App-footer {
  height: 75px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.container {
  display: flex; /* or inline-flex */
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* .dev { 
  border-color: red;
  border-style: solid;
} */