
.App {
  max-width: 980px;
  margin: auto;
  display: flex;
}

.header-parent{
  background: url(images/header_bg.png) repeat-x 0 0 #e9e8e8;
  min-height: 125px;
}

.header-logo {
  flex: 1;
}

.header-title {
  flex: 6;
}

.nav-parent{
  background: url(images/header_bg.png) repeat-x 0 0 #e9e8e8;
  zoom: 1;
  position: relative;
  min-height: 58px;
  margin-top: -7px;
}

.line-bottom-hero{
  background-image: url(images/line_bg.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  height: 10px;
  background-color: #053022;
  min-height:10px;
}

.App-navitem {
  justify-content: left;
  margin: 10px,10px,10px,10px;
}

.header-space{
  min-height: 300px;
}

.searchspace{
  min-height: 40px;
  max-height:40px;
  background-color:#383838;
}

.hero-parent{
  background-image: url(images/banner_bg.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-color: #053022;
  min-height: 350px;
  display:flex;
}

.hero-content{
  min-height: 350px;
  min-width: 980px;
  margin:auto;
}

.dev { 
  border-color: red;
  border-style: solid;
}