
.App {
  max-width: 980px;
  margin: auto;
  display: flex;
  height: 100%;
}

.loginspace{
  min-height: 40px;
  max-height:40px;
  background-color:#383838;
}

.LoginBox{
  flex-wrap:wrap
}

.login-format{
  color:white;
  flex: 1;
}

.header-parent{
  background: url(images/header_bg.png) repeat-x 0 0 #e9e8e8;
  min-height: 125px;  
}

.header-logo {
  flex: 1;
}

.header-title {
  flex: 6;
}

.nav-parent{
  background: url(images/header_bg.png) repeat-x 0 0 #e9e8e8;
  zoom: 1;
  position: relative;
  align-items: stretch;
}

.line-bottom-hero{
  background-image: url(images/line_bg.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  height: 10px;
  background-color: #053022;
  min-height:10px;
}

.App-navitem {
  justify-content: center;
  margin: 10px,10px,10px,10px;
  width: 100%;
  min-height: 30px;
  flex-wrap: wrap;
}

.header-space{
  min-height: 300px;
}

.hero-parent{
  background-image: url(images/banner_bg.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-color: #053022;
  min-height: 450px;
  display:flex;
}

.hero-content{
  min-height: 350px;
  min-width: 980px;
}

.footer-parent{
  background-image: url(images/footer_bg.png);
  position: absolute;
  left:0;
  bottom: 0;
  right: 0;
}

.dev { 
  border-color: red;
  border-style: solid;
}